<div class="overflow-x-auto bg-white rounded-2xl shadow flex justify-center p-10 ">

  <table class="w-screen text-left border-collapse">

    <!-- Header -->
    <thead class="bg-gray-100 border-b">

      <tr>
        <th class="px-6 py-4 text-sm font-semibold">
          Image
        </th>

        <th class="px-6 py-4 text-sm font-semibold">
          Image Name
        </th>

        <th class="px-6 py-4 text-sm font-semibold text-center">
          Action
        </th>
      </tr>

    </thead>

    <!-- Body -->
    <tbody>
      @for(image of images(); track image.id){

      <tr class="border-b hover:bg-gray-50 transition">

        <!-- Image -->
        <td class="px-6 py-4">

          <img
            [src]="image.image_url"
            [alt]="image.image_name"
            class="w-20 h-20 object-cover rounded-lg"
          />

        </td>

        <!-- Name -->
        <td class="px-6 py-4 font-medium">
          {{ image.image_name }}
        </td>

       
        <!-- Action -->
        <td class="px-6 py-4 text-center">

          <button
            (click)="deleteImage(image.id)"
            class="bg-red-400 text-white px-4 py-2 rounded-lg hover:opacity-90 transition"
          >
            Delete
          </button>

        </td>

      </tr>

      }
      @empty {
        <tr>
          <td colspan="3" class="text-center py-10 text-gray-400">No images found.</td>
        </tr>
      }

    </tbody>

  </table>

</div>